@import "../../../variables.scss";

.navbar {
	@include root;
	list-style-type: none;
	padding: 1%;
	overflow: hidden;
	background-color: var(--DarkBlue);

  }

  li {
	@include root;
	float: left;
  }
