@mixin root {
	--DarkBlue: #010E5F;
	--LightYellow: #FFEB87;
	--Blue: #00529C;
	--Grey: #8D9091;
	--GradientLightBlue: #2CD5FE;
	--GradientBlue: #1658f0;
	--GradientLightGreen: #2CF553;
	--GradientGreen: #128625;

	font-family: 'Nunito';
	outline: none;
	
}

@mixin center {
	justify-content: center;
	align-items: center;
	display: flex;
}

@mixin materialTableFormat {
	@include root;
	padding: 1%;
}

@mixin buttonBar {
	@include root;
    padding: 1%;
}

@mixin button {
	@include root;
    padding: 1%;
    display: inline-block;
	vertical-align: middle;
}