.qrScannerPage {
    display: block;
    width: 100%;
    text-align: center;
}

.qrScannerContent {
    margin: 0px auto;
    display: block;
    width: 75%;
    border:1px solid red;   
    text-align: center;
}

